@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}


:root {
  --primary: #3838ee;
  --secondary: #999999;
  --third: #247470;
  --hover: #54b4af;
  --text-white: white;
  --nav: rgba(0, 0, 0, 0.3);
}

body {
  background-color: #dbdbdb;
}

/* header  */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.navbar {
  background-color: var(--nav);
  min-height: 45px;
  /* height: 45px; */
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0px 0px black;
}

.navbar img {
  width: 50px;
  padding: 5px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
}

.link a {
  color: var(--text-white);
  font-size: 18px;
  padding: 5px 8px;
  margin: 3px;
}

.link a:hover {
  background-color: var(--hover);
  color: black;
  text-decoration: underline;
}

/* end header  */

/* hero-section  */
.hero-section {
  height: 400px;
  background-color: #999999;
  background: url('img/banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-bottom-left-radius: 20%; */
}

.hero-section h1 {
  text-align: center;
  color: var(--text-white);
  font-size: 30px;
}

.hero-section .search-blog {
  width: 80%;
  margin: 20px 0;
}

.search-blog form .search {
  display: flex;
  justify-content: center;
}

.search-blog input {
  border: none;
  width: 80%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-blog input:focus {
  outline-style: none;
}

.search-blog button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 15px;
  background-color: var(--third);
  color: var(--text-white);
}

.search-blog button:hover {
  background-color: var(--hover);
}

/* end hero-section  */

/* contents  */
.contents {
  display: flex;
  padding-top: 10px;
  width: 100%;
}

.main-content {
  width: 100%;
}

.section-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* background-color: #247470; */
}

.top-post {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* box-shadow: 1px 1px 3px 0px #858585; */
  border-radius: 10px;
  margin: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  overflow: hidden;
  /* box-shadow: 1px 1px 3px 0px #858585; */
  border-radius: 10px;
  margin: 10px;
}

.top-post .post-img {
  position: relative;
  width: 400px;
  /* width: 40%; */
  /* max-width: 350px; */
}

.post .post-img {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.top-post .post-img .post-category,
.post .post-img .post-category {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--third);
  padding: 5px 8px;
  color: var(--text-white);
  margin: 10px;
  border-radius: 8px;
  font-size: 12px;
}

.top-post img,
.post img {
  width: 100%;
  border-radius: 8px;
}

.top-post .post-detail {
  position: relative;
  /* width: 60%; */
  max-width: 500px;
  padding: 5px;
  padding-bottom: 10px;
}

.post .post-detail {
  position: relative;
  width: 100%;
  padding: 5px;
  padding-bottom: 10px;
}

.top-post a,
.post a {
  color: var(--third);
}

.top-post .post-author,
.post .post-author {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  align-items: center;
  padding: 5px 0;
}

.post-author .post-author-img {
  width: 40px;
}

.post-author .post-author-img img {
  width: 100%;
}

.post-author .post-author-detail {
  width: 80%;
  /* background-color: #3838ee; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
}

.post-author .post-author-detail .post-author-name {
  font-weight: bold;
}

/* end contents  */

footer {
  padding: 15px 0;
  text-align: center;
  background-color: var(--third);
  color: var(--text-white);

}

footer a {
  color: var(--text-white);
}

/* @media(max-width:576px) {
  .hero-section {
    height: 250px;
  }

  .post {
    width: 100%;
  }

  .post-img {
    width: 100%;
  }

  .post-detail {
    width: 100%;
  }
} */

/* @media(max-width:787px) {
  .contents {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    padding: 5px;
  }

  .post {
    width: 100%;
  }
} */