/* main-content  */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content {
  max-width: 900px;
  margin: auto;
  margin: 0;
  padding: 10px;
}

/* end main-content  */

/* sidebar  */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;

}

.sidebar h4 {
  padding: 5px 0;
}

.author-post {
  margin: 5px;
}

.author-post .author-post-img {
  width: 40px;
}

.author-post .author-post-img img {
  border-radius: 50px;
  width: 100%;
}

.post-category {
  margin: 5px;
}

.post-category ul li a {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.post-category ul li a .post-category-img {
  width: 50px;
}

.post-category ul li a .post-category-img img {
  width: 100%;
}

.post-category ul li a span {
  padding-left: 5px;
  color: black;
}

.post-collection {
  margin: 5px;
}

.post-collection ul li a {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.post-collection ul li a .post-collection-img {
  width: 50px;
}

.post-collection ul li a .post-collection-img img {
  width: 100%;
}

.post-collection ul li a span {
  padding-left: 5px;
  color: black;
}

.subscribe-form {
  margin: 5px;
}

.subscribe-form form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-form form div {
  margin: 5px 0;
}

.subscribe-form form div,
.subscribe-form form input,
.subscribe-form form button {
  width: 100%;
}

.subscribe-form form button {
  padding: 5px;
  background-color: #232388;
  color: white;
  border: none;
}

.subscribe-form form button:hover {
  background-color: #2d2d8f;
}

/* end sidebar  */

@media(max-width:768px) {
  .contents {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:360px) {
  .sidebar {
    width: 100%;
    background-color: #999;

  }
}